body {
    background-color: #FFFAF4;
    color: #545454;
    font-family:'Fredoka One', cursive;
}

.logo {
    width: 200px;
}

.sidebar{
   position: fixed; 
   left: 0;
   padding: 48px ;
}
.nav-link{
    color: #545454; 
}